In [2]:
import pandas as pd
from utils.constants import Constants

C = Constants()

In [3]:
def display_input_data(batch_id: int, data_id: int, order_type: str):

    id_path = C.ID_array_data_path(batch_id=batch_id, data_id=data_id, order_type=order_type)
    id_sample = pd.read_csv(id_path)
    return id_sample


def display_tc_data(batch_id: int, data_id: int, order_type: str):

    tc_path = C.TC_array_data_path(batch_id=batch_id, data_id=data_id, order_type=order_type)
    tc_sample = pd.read_csv(tc_path)
    return tc_sample

In [4]:
id_sample = display_input_data(batch_id=0, data_id=0, order_type="random")

In [5]:
id_sample

,length,array,insertion_sorted_array,merge_sorted_array,insertion_sort_key_comparison,insertion_sort_time,merge_sort_key_comparison,merge_sort_time
0,100,"[277878, 46775, 490771, 30793, 319338, 563090,...","[16129, 30793, 36446, 42278, 46775, 59466, 610...","[16129, 30793, 36446, 42278, 46775, 59466, 610...",2332,0.000742,543,0.000073
1,110,"[231797, 828377, 598189, 542879, 424190, 30603...","[6962, 8381, 33184, 44183, 45569, 63032, 73007...","[6962, 8381, 33184, 44183, 45569, 63032, 73007...",3059,0.000103,613,0.000047
2,120,"[169687, 511823, 285106, 32844, 668592, 822158...","[2455, 26305, 31535, 32844, 37396, 39366, 4116...","[2455, 26305, 31535, 32844, 37396, 39366, 4116...",3587,0.000083,674,0.000050
3,130,"[578138, 451894, 616139, 499699, 758700, 53369...","[6244, 9448, 16713, 45922, 53642, 58073, 62686...","[6244, 9448, 16713, 45922, 53642, 58073, 62686...",4529,0.000091,755,0.000054
4,140,"[985396, 598221, 513600, 893087, 461808, 29011...","[1300, 2809, 23844, 44037, 46357, 71663, 72806...","[1300, 2809, 23844, 44037, 46357, 71663, 72806...",5121,0.000092,825,0.000058
...,...,...,...,...,...,...,...,...
85,950,"[499730, 596125, 553010, 11330, 480297, 39945,...","[27, 2406, 2613, 3636, 4492, 4509, 5679, 5679,...","[27, 2406, 2613, 3636, 4492, 4509, 5679, 5679,...",228294,0.001364,8208,0.000417
86,960,"[992581, 326343, 186882, 945950, 445516, 35396...","[364, 2896, 3759, 3870, 4078, 4807, 4905, 5496...","[364, 2896, 3759, 3870, 4078, 4807, 4905, 5496...",234979,0.001394,8297,0.000421
87,970,"[220274, 363035, 759999, 378358, 245219, 69291...","[5807, 6348, 10917, 11162, 11401, 12776, 13759...","[5807, 6348, 10917, 11162, 11401, 12776, 13759...",235090,0.001402,8401,0.000427
88,980,"[227542, 235466, 165442, 135364, 609336, 25856...","[191, 2144, 2289, 3794, 4169, 4301, 5370, 7481...","[191, 2144, 2289, 3794, 4169, 4301, 5370, 7481...",241392,0.001432,8509,0.000431
89,990,"[555508, 987466, 115167, 241956, 732781, 74146...","[1340, 3998, 6685, 7879, 9795, 11780, 11959, 1...","[1340, 3998, 6685, 7879, 9795, 11780, 11959, 1...",245984,0.001454,8592,0.000436

In [6]:
d_sample = display_tc_data(batch_id=0, data_id=0, order_type="random")
d_sample.head()

,length,insertion_sort_key_comparison,insertion_sort_time,merge_sort_key_comparison,merge_sort_time
0,100,2332,0.000742,543,0.000073
1,110,3059,0.000103,613,0.000047
2,120,3587,0.000083,674,0.000050
3,130,4529,0.000091,755,0.000054
4,140,5121,0.000092,825,0.000058