In [1]:
import pandas as pd
from utilities.constants import Constants

C = Constants()

In [2]:
def display_input_data(batch_id: int, data_id: int, order_type: str):

    id_path = C.ID_array_data_path(batch_id=batch_id, data_id=data_id, order_type=order_type)
    id_sample = pd.read_csv(id_path)
    return id_sample


def display_tc_data(batch_id: int, data_id: int, order_type: str):

    tc_path = C.TC_array_data_path(batch_id=batch_id, data_id=data_id, order_type=order_type)
    tc_sample = pd.read_csv(tc_path)
    return tc_sample

In [3]:
id_sample = display_input_data(batch_id=0, data_id=1, order_type="random")

In [4]:
id_sample

    length                                              array
0      100  [681548, 854679, 671161, 891779, 708396, 91490...
1      110  [510060, 560865, 441408, 246066, 81333, 347768...
2      120  [558849, 170830, 598457, 132175, 743060, 86840...
3      130  [476344, 652407, 793079, 58362, 588261, 261848...
4      140  [119808, 751749, 502766, 976676, 924913, 70565...
..     ...                                                ...
86     960  [167911, 902048, 510218, 463756, 121263, 38574...
87     970  [624989, 263324, 249633, 134635, 813286, 40049...
88     980  [771988, 887774, 504677, 251138, 441308, 13041...
89     990  [245906, 213088, 659295, 383153, 75102, 226332...
90    1000  [425189, 747666, 383829, 930528, 615737, 30445...

[91 rows x 2 columns]

In [6]:
d_sample = display_tc_data(batch_id=0, data_id=0, order_type="random")
d_sample.head()

,length,insertion_sort_key_comparison,insertion_sort_time,merge_sort_key_comparison,merge_sort_time
0,100,2332,0.000742,543,0.000073
1,110,3059,0.000103,613,0.000047
2,120,3587,0.000083,674,0.000050
3,130,4529,0.000091,755,0.000054
4,140,5121,0.000092,825,0.000058