In [1]:
import pandas as pd
from utilities.data_paths import DataPaths

DP = DataPaths()

In [4]:
import os

data_path = os.path.join("data_storage", "10p3-10p4", "input_data", "batch_0", "ID1-10p3-10p4-random.csv")
data = pd.read_csv(data_path)

In [6]:
data[["length", "array"]]

    length                                              array
0     1000  [627414, 833648, 353902, 753387, 697104, 86502...
1     1020  [555491, 405058, 505826, 25550, 486894, 298589...
2     1040  [471738, 833870, 409840, 112100, 849817, 91021...
3     1060  [557748, 355902, 169476, 108466, 742153, 14550...
4     1080  [453283, 447096, 548411, 981430, 884826, 17080...
5     1100  [714911, 900329, 566182, 780665, 884868, 49678...
6     1120  [980909, 847798, 404564, 532843, 747279, 14801...
7     1140  [671789, 33885, 19284, 617117, 22016, 298557, ...
8     1160  [928474, 329458, 898803, 734475, 329942, 20936...
9     1180  [218459, 359563, 892919, 560087, 443703, 65614...
10    1200  [231244, 441063, 404694, 825631, 603142, 62768...
11    1220  [633770, 933906, 534100, 974612, 610138, 84127...
12    1240  [906953, 497184, 707699, 289372, 371693, 39354...
13    1260  [676958, 809787, 558795, 544754, 808885, 57334...
14    1280  [866320, 393068, 565496, 495492, 301986, 80273...
15    1300  [18097, 45889, 40631, 935319, 242707, 982702, ...
16    1320  [363050, 131793, 623891, 333231, 667727, 61270...
17    1340  [680550, 402729, 611912, 953656, 939285, 92089...
18    1360  [730650, 271409, 817062, 477928, 757214, 32065...
19    1380  [831145, 874144, 444689, 91205, 900866, 289430...
20    1400  [793528, 909593, 747533, 830882, 97338, 172650...
21    1420  [369932, 156474, 127912, 751835, 287133, 80623...
22    1440  [850703, 65143, 147748, 247208, 44479, 291313,...
23    1460  [777944, 956187, 4457, 717644, 363905, 844596,...
24    1480  [6486, 575311, 371084, 504155, 181841, 885573,...
25    1500  [778913, 208115, 119210, 320901, 337948, 37132...
26    1520  [530630, 985521, 596027, 814977, 856583, 18545...
27    1540  [303297, 755188, 400212, 608204, 433270, 94675...
28    1560  [641638, 539567, 216575, 849942, 725138, 24030...
29    1580  [852566, 60830, 329721, 413344, 35678, 213789,...
30    1600  [576850, 298676, 411531, 792455, 654006, 17735...
31    1620  [686520, 667995, 446750, 36556, 877733, 994807...
32    1640  [32958, 63126, 147694, 97212, 95737, 574508, 1...
33    1660  [11918, 458145, 560230, 15012, 4336, 545334, 3...
34    1680  [87669, 153492, 428727, 192490, 721031, 720916...
35    1700  [693774, 306311, 548367, 734789, 785277, 39451...
36    1720  [340416, 137275, 296825, 882548, 603473, 25005...
37    1740  [471455, 748789, 231858, 185535, 392406, 67857...
38    1760  [440883, 657701, 750415, 173349, 710924, 81211...
39    1780  [192083, 915956, 889305, 49230, 331450, 502451...
40    1800  [142391, 342428, 409674, 598196, 546066, 84844...
41    1820  [737276, 953217, 772756, 688798, 979739, 84379...
42    1840  [321124, 700673, 639030, 168706, 586300, 45300...
43    1860  [845796, 742109, 579166, 53587, 261437, 885276...
44    1880  [930887, 749325, 812603, 264095, 167712, 84119...
45    1900  [415883, 567977, 706166, 27150, 883101, 536958...
46    1920  [3901, 446837, 461464, 771927, 292416, 103002,...
47    1940  [342093, 368125, 520265, 565052, 582463, 38602...
48    1960  [35433, 582196, 56931, 223515, 64109, 312039, ...
49    1980  [79659, 783511, 836885, 186883, 370086, 902210...
50    2000  [767637, 627848, 268602, 700969, 61847, 67725,...

In [4]:
id_sample

    length                                              array
0      100  [681548, 854679, 671161, 891779, 708396, 91490...
1      110  [510060, 560865, 441408, 246066, 81333, 347768...
2      120  [558849, 170830, 598457, 132175, 743060, 86840...
3      130  [476344, 652407, 793079, 58362, 588261, 261848...
4      140  [119808, 751749, 502766, 976676, 924913, 70565...
..     ...                                                ...
86     960  [167911, 902048, 510218, 463756, 121263, 38574...
87     970  [624989, 263324, 249633, 134635, 813286, 40049...
88     980  [771988, 887774, 504677, 251138, 441308, 13041...
89     990  [245906, 213088, 659295, 383153, 75102, 226332...
90    1000  [425189, 747666, 383829, 930528, 615737, 30445...

[91 rows x 2 columns]

In [6]:
d_sample = display_tc_data(batch_id=0, data_id=0, order_type="random")
d_sample.head()

,length,insertion_sort_key_comparison,insertion_sort_time,merge_sort_key_comparison,merge_sort_time
0,100,2332,0.000742,543,0.000073
1,110,3059,0.000103,613,0.000047
2,120,3587,0.000083,674,0.000050
3,130,4529,0.000091,755,0.000054
4,140,5121,0.000092,825,0.000058