In [4]:
import os

batch0_data_path = os.path.join("data_storage", "input_data", "batch_0")
batch1_data_path = os.path.join("data_storage", "input_data", "batch_1")
batch2_data_path = os.path.join("data_storage", "input_data", "batch_2")

dataOne = "10**3-10**4.csv"
dataTwo = "10**4-10**5.csv"
dataThree = "10**5-10**6.csv"
dataFour = "10**6-10**7.csv"

In [5]:
import pandas as pd

da_path = os.path.join(batch0_data_path, dataOne)
df = pd.read_csv(da_path)
df.head()

,length,array,insertion_sorted_array,merge_sorted_array,insertion_sort_time,merge_sort_time
0,1000,"[193600, 848188, 647031, 643347, 462175, 36135...","[916, 939, 1381, 2508, 3519, 4300, 6251, 6293,...","[916, 939, 1381, 2508, 3519, 4300, 6251, 6293,...",0.001566,0.000449
1,2000,"[951534, 9408, 850501, 595825, 236622, 742613,...","[176, 1997, 2304, 3352, 3535, 3967, 4382, 4843...","[176, 1997, 2304, 3352, 3535, 3967, 4382, 4843...",0.005826,0.001004
2,3000,"[570374, 215517, 300709, 257590, 91912, 747892...","[50, 164, 195, 205, 357, 392, 1830, 1891, 2365...","[50, 164, 195, 205, 357, 392, 1830, 1891, 2365...",0.011463,0.001411
3,1000,"[467370, 304028, 379647, 124222, 844746, 26199...","[588, 647, 676, 4862, 4950, 6470, 7242, 7633, ...","[588, 647, 676, 4862, 4950, 6470, 7242, 7633, ...",0.001551,0.000447
4,2000,"[904408, 623180, 169693, 645910, 640118, 35194...","[1865, 2076, 2968, 2991, 4202, 7332, 7939, 104...","[1865, 2076, 2968, 2991, 4202, 7332, 7939, 104...",0.005362,0.000905