In [1]:
import pandas as pd
from utils.constants import Constants

C = Constants()

In [2]:
def display_input_data(batch_id: int, data_id: int, order_type: str):

    id_path = C.ID_array_data_path(batch_id=batch_id, data_id=data_id, order_type=order_type)
    id_sample = pd.read_csv(id_path)
    return id_sample


def display_tc_data(batch_id: int, data_id: int, order_type: str):

    tc_path = C.TC_array_data_path(batch_id=batch_id, data_id=data_id, order_type=order_type)
    tc_sample = pd.read_csv(tc_path)
    return tc_sample

In [15]:
id_sample = display_input_data(batch_id=0, data_id=1, order_type="random")

In [16]:
id_sample

,length,array,insertion_sorted_array,merge_sorted_array,insertion_sort_key_comparison,insertion_sort_time,merge_sort_key_comparison,merge_sort_time
0,1000,"[9218, 743678, 895257, 39638, 411812, 923732, ...","[1080, 1230, 2335, 7263, 7385, 9218, 10889, 11...","[1080, 1230, 2335, 7263, 7385, 9218, 10889, 11...",253932,0.000000,8707,0.012552
1,2000,"[972377, 456872, 480548, 34365, 226597, 906436...","[351, 796, 1550, 1748, 2337, 4041, 4739, 5135,...","[351, 796, 1550, 1748, 2337, 4041, 4739, 5135,...",983606,0.016685,19423,0.011057
2,3000,"[20619, 451466, 463666, 858133, 447623, 879281...","[489, 720, 1021, 1424, 1602, 2276, 2371, 2515,...","[489, 720, 1021, 1424, 1602, 2276, 2371, 2515,...",2226043,0.024141,30965,0.015662
3,4000,"[570526, 319864, 90101, 679945, 823402, 68968,...","[314, 383, 534, 943, 1351, 1556, 1591, 1595, 1...","[314, 383, 534, 943, 1351, 1556, 1591, 1595, 1...",4037125,0.015610,42801,0.000000
4,5000,"[782813, 154310, 329485, 506469, 24731, 262423...","[202, 608, 644, 1106, 1728, 2129, 2210, 2254, ...","[202, 608, 644, 1106, 1728, 2129, 2210, 2254, ...",6193891,0.031207,55241,0.000000
5,6000,"[955706, 606457, 769827, 536365, 41653, 178774...","[193, 358, 539, 630, 644, 799, 870, 910, 1015,...","[193, 358, 539, 630, 644, 799, 870, 910, 1015,...",8978505,0.046864,67934,0.000000
6,7000,"[783557, 779812, 935745, 119104, 584420, 25396...","[73, 454, 578, 923, 943, 996, 1007, 1219, 1269...","[73, 454, 578, 923, 943, 996, 1007, 1219, 1269...",12226506,0.039767,80661,0.000000
7,8000,"[156343, 503283, 405237, 937502, 739842, 16615...","[128, 137, 180, 446, 674, 682, 770, 879, 1012,...","[128, 137, 180, 446, 674, 682, 770, 879, 1012,...",15997728,0.062487,93697,0.000000
8,9000,"[38135, 42337, 308300, 40665, 40333, 345258, 7...","[277, 281, 530, 795, 958, 1000, 1005, 1032, 11...","[277, 281, 530, 795, 958, 1000, 1005, 1032, 11...",20225860,0.078059,106950,0.000000

In [17]:
d_sample = display_tc_data(batch_id=0, data_id=1, order_type="random")
d_sample.head()

,length,insertion_sort_key_comparison,insertion_sort_time,merge_sort_key_comparison,merge_sort_time
0,1000,253932,0.000000,8707,0.012552
1,2000,983606,0.016685,19423,0.011057
2,3000,2226043,0.024141,30965,0.015662
3,4000,4037125,0.015610,42801,0.000000
4,5000,6193891,0.031207,55241,0.000000