In [4]:
import pandas as pd
from utils.constants import Constants

C = Constants()

In [5]:
batch_id = 0
data_id = 1
order_type = "random"

In [6]:
id_path = C.ID_array_data_path(batch_id=batch_id, data_id=data_id, order_type=order_type)
id_sample = pd.read_csv(id_path)
id_sample.head()

,length,array,insertion_sorted_array,merge_sorted_array,insertion_sort_time,merge_sort_time
0,1000,"[420147, 826566, 785792, 155490, 936226, 67826...","[284, 750, 841, 1195, 1372, 3929, 5782, 6120, ...","[284, 750, 841, 1195, 1372, 3929, 5782, 6120, ...",0.002642,0.000328
1,2000,"[310874, 782051, 56046, 757691, 651660, 359496...","[92, 2085, 2579, 3348, 3777, 3982, 4463, 4754,...","[92, 2085, 2579, 3348, 3777, 3982, 4463, 4754,...",0.004921,0.000660
2,3000,"[871637, 103413, 122163, 536822, 788431, 40714...","[88, 184, 979, 1017, 1238, 1869, 2858, 3090, 3...","[88, 184, 979, 1017, 1238, 1869, 2858, 3090, 3...",0.008255,0.001014
3,1000,"[1, 368, 735, 1102, 1469, 1837, 2204, 2571, 29...","[1, 368, 735, 1102, 1469, 1837, 2204, 2571, 29...","[1, 368, 735, 1102, 1469, 1837, 2204, 2571, 29...",0.000206,0.000313
4,2000,"[1, 51, 101, 151, 201, 252, 302, 352, 402, 453...","[1, 51, 101, 151, 201, 252, 302, 352, 402, 453...","[1, 51, 101, 151, 201, 252, 302, 352, 402, 453...",0.001081,0.002439

In [6]:
tc_path = C.TC_array_data_path(batch_id=batch_id, data_id=data_id, order_type=order_type)
tc_sample = pd.read_csv(tc_path)
tc_sample.head()

,length,insertion_sort_key_comparison,merge_sort_key_comparison,insertion_sort_time,merge_sort_time
0,1000,237305,0.002039,8704,0.000280
1,2000,1001936,0.003963,19419,0.000572
2,3000,2211623,0.007078,30970,0.001069
3,1000,999,0.000274,4932,0.000257
4,2000,1999,0.000684,10864,0.000533