In [1]:
import pandas as pd
from utilities.constants import Constants

C = Constants()

In [2]:
def display_input_data(batch_id: int, data_id: int, order_type: str):

    id_path = C.ID_array_data_path(batch_id=batch_id, data_id=data_id, order_type=order_type)
    id_sample = pd.read_csv(id_path)
    return id_sample


def display_tc_data(batch_id: int, data_id: int, order_type: str):

    tc_path = C.TC_array_data_path(batch_id=batch_id, data_id=data_id, order_type=order_type)
    tc_sample = pd.read_csv(tc_path)
    return tc_sample

In [3]:
id_sample = display_input_data(batch_id=0, data_id=4, order_type="random")

In [4]:
id_sample

     length                                              array
0   1000000  [714113, 922157, 232422, 903088, 360124, 99076...
1   2000000  [29061, 883121, 900930, 702585, 658160, 84584,...
2   3000000  [16095, 321923, 632014, 418184, 184020, 729122...
3   4000000  [336719, 989726, 526206, 86906, 913792, 306515...
4   5000000  [937434, 728779, 895314, 548903, 7491, 562021,...
5   6000000  [376331, 600498, 67641, 713694, 63894, 817993,...
6   7000000  [315518, 258317, 425629, 627080, 624236, 58653...
7   8000000  [268758, 138445, 374998, 380947, 352021, 87139...
8   9000000  [158358, 923725, 996026, 593820, 261956, 18664...
9  10000000  [861553, 393044, 465726, 350441, 64439, 641544...

In [6]:
d_sample = display_tc_data(batch_id=0, data_id=0, order_type="random")
d_sample.head()

,length,insertion_sort_key_comparison,insertion_sort_time,merge_sort_key_comparison,merge_sort_time
0,100,2332,0.000742,543,0.000073
1,110,3059,0.000103,613,0.000047
2,120,3587,0.000083,674,0.000050
3,130,4529,0.000091,755,0.000054
4,140,5121,0.000092,825,0.000058