In [1]:
import os

batch0_data_path = os.path.join("data_storage", "input_data", "batch_0")
batch1_data_path = os.path.join("data_storage", "input_data", "batch_1")
batch2_data_path = os.path.join("data_storage", "input_data", "batch_2")

dataOne = "10**3-10**4.csv"
dataTwo = "10**4-10**5.csv"
dataThree = "10**5-10**6.csv"
dataFour = "10**6-10**7.csv"

In [2]:
import pandas as pd

df_one_path = os.path.join(batch0_data_path, dataOne)
df_one = pd.read_csv(df_one_path)
df_one.head()

   length                                              array
0    1000  [652074, 998124, 314110, 427941, 114829, 96819...
1    1001  [252610, 128191, 13138, 678308, 94474, 759472,...
2    1002  [54066, 730789, 466379, 193682, 804450, 860858...
3    1003  [857224, 822312, 927986, 390485, 14588, 883137...
4    1004  [500568, 303010, 231139, 817491, 566885, 21875...